version: "3"

services:

    postgres:
        image: postgres:10.4
        environment:
            - POSTGRES_PASSWORD=gitlab
            - POSTGRES_USER=gitlab
        restart: unless-stopped
        volumes:
            - "/data/gitlab/postgres:/var/lib/postgres/data"

    redis:
        image: redis
        restart: unless-stopped
        volumes:
            - "/data/gitlab/redis:/data"

    web:
        image: gitlab/gitlab-ce:latest
        volumes:
            - "/data/gitlab/config:/etc/gitlab"
            - "/data/gitlab/logs:/var/log/gitlab"
            - "/data/gitlab/data:/var/opt/gitlab"
        restart: unless-stopped
        ports:
            - "9022:22"
            - "9080:80"
            - "9443:443"
        depends_on:
            - postgres
            - redis
        links:
            - "postgres:postgres"
            - "redis:redis"
        environment:
            GITLAB_OMNIBUS_CONFIG: |
                external_url "http://gitlab.test.com";
                gitlab_rails['smtp_enable'] = true;
                gitlab_rails['smtp_address'] = "smtp.exmail.qq.com";
                gitlab_rails['smtp_port'] = 465;
                gitlab_rails['smtp_user_name'] = "gitlab@yindongliang.com";
                gitlab_rails['smtp_password'] = "password";
                gitlab_rails['smtp_authentication'] = "login";
                gitlab_rails['smtp_enable_starttls_auto'] = true;
                gitlab_rails['smtp_tls'] = true;
                gitlab_rails['gitlab_email_from'] = 'gitlab@yindongliang.com';
                gitlab_rails['smtp_domain'] = "exmail.qq.com";
