version: "3"

services:

  postgres:
    image: postgres:10.4
    networks:
      - sentry-net
    hostname: postgres
    environment:
      - POSTGRES_PASSWORD=sentry
      - POSTGRES_USER=sentry
    restart: unless-stopped
    volumes:
        - "/data/sentry/postgres:/var/lib/postgresql/data"

  redis:
    image: redis
    networks:
      - sentry-net
    hostname: redis
    restart: unless-stopped
    volumes:
        - "/data/sentry/redis:/data"

  sentry_web:
    image: sentry
    networks:
      - sentry-net
    volumes:
      - "/data/sentry/files:/var/lib/sentry/files"
    environment:
      - SENTRY_SECRET_KEY=$SENTRY_SECRET_KEY
    restart: unless-stopped
    ports:
      - "9000:9000"
    depends_on:
      - postgres
      - redis

  cron:
    image: sentry
    depends_on:
      - sentry
    networks:
      - sentry-net
    command: run cron
    restart: unless-stopped

  worker-1:
    image: sentry
    command: run worker
    networks:
      - sentry-net
    depends_on:
      - sentry
    restart: always

networks:
  sentry-net: