version: "3"

services:

  postgres:
    image: postgres:10.4
    environment:
      - POSTGRES_PASSWORD=sentry
      - POSTGRES_USER=sentry
    restart: unless-stopped
    volumes:
      - "/data/sentry/postgres:/var/lib/postgresql/data"
    networks:
      - sentry_net

  redis:
    image: redis
    restart: unless-stopped
    volumes:
      - "/data/sentry/redis:/data"
    networks:
      - sentry_net

  sentry_web:
    image: sentry
    volumes:
      - "/data/sentry/files:/var/lib/sentry/files"
    environment:
      - SENTRY_SECRET_KEY=$SENTRY_SECRET_KEY
    restart: unless-stopped
    ports:
      - "9000:9000"
    depends_on:
      - postgres
      - redis
    external_links:
      - "sentry_redis_1:redis"
      - "sentry_postgres_1:postgres"
    networks:
      - sentry_net

  cron:
    image: sentry
    depends_on:
      - sentry_web
    command: run cron
    restart: unless-stopped
    external_links:
      - "sentry_redis_1:redis"
      - "sentry_postgres_1:postgres"
    networks:
      - sentry_net

  worker-1:
    image: sentry
    command: run worker
    depends_on:
      - sentry_web
    restart: always
    external_links:
      - "sentry_redis_1:redis"
      - "sentry_postgres_1:postgres"
    networks:
      - sentry_net

networks:
  sentry_net:
